LevelConfig (
    map: "map.map.png",
    waves: [
        Wave (
            spawns: [Spawn (
                delay: 15.,
                spawner: 0,
                num: 4,
                interval: 2.,
                hp: 1,
                kind: Ent
            )]
        ),
        Wave (
            spawns: [Spawn (
                delay: 15.,
                spawner: 0,
                num: 4,
                interval: 2.,
                hp: 2,
                kind: Skeleton
            )]
        ),
        Wave (
            spawns: [Spawn (
                delay: 15.,
                spawner: 1,
                num: 4,
                interval: 2.,
                hp: 2,
                kind: Skeleton
            )]
        ),
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 4,
                    interval: 2.,
                    hp: 2,
                    kind: Skeleton
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 4,
                    interval: 2.,
                    hp: 2,
                    kind: Skeleton
                ),
            ]
        ),
    ]
)