LevelConfig (
    map: "map.map.png",
    waves: [
        Wave (
            spawns: [Spawn (
                delay: 15.,
                spawner: 0,
                num: 4,
                interval: 4.,
                hp: 1,
            )]
        ),
        Wave (
            spawns: [Spawn (
                delay: 15.,
                spawner: 0,
                num: 4,
                interval: 4.,
                hp: 2,
            )]
        ),
        Wave (
            spawns: [Spawn (
                delay: 15.,
                spawner: 1,
                num: 4,
                interval: 4.,
                hp: 2,
            )]
        ),
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 4,
                    interval: 4.,
                    hp: 2,
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 4,
                    interval: 4.,
                    hp: 2,
                ),
            ]
        ),
    ]
)