LevelConfig (
    map: "levels/map.map.png",
    currency: Currency (
        stone: 0,
        metal: 0,
        crystal: 0
    ),
    waves: [
        // 0
        Wave (
            spawns: [Spawn (
                delay: 30.,
                spawner: 0,
                num: 10,
                interval: 2.,
                hp: 2,
                kind: Ent
            )]
        ),
        // 1
        Wave (
            spawns: [Spawn (
                delay: 15.,
                spawner: 1,
                num: 10,
                interval: 2.,
                hp: 4,
                kind: Skeleton
            )]
        ),
        // 2
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.,
                    hp: 4,
                    kind: Skeleton
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.,
                    hp: 4,
                    kind: Skeleton
                )
            ]
        ),
        // 3
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.,
                    hp: 4,
                    kind: Skeleton
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 20,
                    interval: 1.,
                    hp: 2,
                    kind: Ent
                ),
            ]
        ),
        // 4
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 20,
                    interval: 1.,
                    hp: 2,
                    kind: Ent
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.,
                    hp: 6,
                    kind: EntTwo
                ),
            ]
        ),
        // 5
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 6,
                    kind: EntTwo
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 8,
                    kind: SkeletonTwo
                ),
            ]
        ),
        // 6
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 8,
                    kind: SkeletonTwo
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 1.0,
                    hp: 6,
                    kind: EntTwo
                ),

            ]
        ),
        // 7
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 8,
                    kind: SkeletonTwo
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 8,
                    kind: SkeletonTwo
                ),
            ]
        ),
        // 8
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 8,
                    kind: SkeletonTwo
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 10,
                    kind: EntThree
                ),
            ]
        ),
        // 9
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 10,
                    kind: EntThree
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 1.0,
                    hp: 8,
                    kind: SkeletonTwo
                ),
            ]
        ),
        // 10
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 10,
                    kind: EntThree
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 10,
                    kind: EntThree
                ),
            ]
        ),
        // 11
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 12,
                    kind: SkeletonThree
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 10,
                    kind: EntThree
                ),
            ]
        ),
        // 12
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 1.0,
                    hp: 10,
                    kind: EntThree
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 12,
                    kind: SkeletonThree
                ),
            ]
        ),
        // 13
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 1.0,
                    hp: 10,
                    kind: EntThree
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 1.0,
                    hp: 10,
                    kind: EntThree
                ),
            ]
        ),
        // 13
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 14,
                    kind: EntFour
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 12,
                    kind: SkeletonThree
                ),
            ]
        ),
        // 14
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 14,
                    kind: SkeletonFour
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 14,
                    kind: SkeletonFour
                ),
            ]
        ),
        // 15
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 14,
                    kind: SkeletonFour
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 16,
                    kind: EntFour
                ),
            ]
        ),
        // 16
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 2.0,
                    hp: 16,
                    kind: EntFour
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 16,
                    kind: EntFour
                ),
            ]
        ),
        // 17
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 1.0,
                    hp: 16,
                    kind: EntFour
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 2.0,
                    hp: 16,
                    kind: EntFour
                ),
            ]
        ),
        // 18
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 1.0,
                    hp: 16,
                    kind: EntFour
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 1.0,
                    hp: 16,
                    kind: EntFour
                ),
            ]
        ),
        // 19
        Wave (
            spawns: [
                Spawn (
                    delay: 15.,
                    spawner: 0,
                    num: 10,
                    interval: 0.8,
                    hp: 16,
                    kind: EntFour
                ),
                Spawn (
                    delay: 15.,
                    spawner: 1,
                    num: 10,
                    interval: 0.8,
                    hp: 16,
                    kind: EntFour
                ),
            ]
        ),
    ]
)